ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

li {
  border: 1px solid black;

  padding: 0;
}

li:hover {
  cursor: pointer;
  background-color: gainsboro;
}

li:first-child {
  border-right: none;
}

a {
  height: 100%;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
